# Final results
# C_terminal

In [252]:
##Importing packages

import pandas as pd
import numpy as np
import math

## Ligand index

In [253]:
indice=pd.read_csv('indice_2.csv')  
indice=indice.drop_duplicates(subset=['Label'])
indice['Molecule'] = list(range(1, 156))

## Importing data (Two variants)

In [254]:
farma_2c=pd.read_csv('farma_2C.csv',sep=',')  
docking_2c=pd.read_csv('dockingecr2C.csv',sep=',')  
qsar2=pd.read_csv('Output_ECR_2_final.csv',sep=',')

In [255]:
farma_2c=farma_2c.drop(columns=["Number", "Index", "Score", "Aromatic", "Hydrophobic", "Donors", "Aceptors", "Negatives"])
farma_2c=farma_2c.rename(columns={'Label': 'Label_farma2c','Molecule':'Molecule_farma2c'})
farma_2c

        Label_farma2c  Molecule_farma2c
0            76325328                 6
1    ZINC000307565252               142
2    ZINC000257346903               138
3            44341508                25
4    ZINC000106382957               130
..                ...               ...
150            439213                67
151  ZINC000164373873               133
152          91820057                 4
153            433580                69
154  ZINC000252694384               135

[155 rows x 2 columns]

In [256]:
docking_2c=docking_2c.drop(columns=["Unnamed: 0", "ECR", "Molecule_par", "Molecule_impar"])
docking_2c=docking_2c.rename(columns={'Label': 'Label_docking2c','Molecule':'Molecule_docking2c'})
docking_2c

      Label_docking2c  Molecule_docking2c
0              118328                  80
1            52944903                  14
2            52944904                  13
3            76325328                   6
4           118707521                   3
..                ...                 ...
150             96523                  84
151            440552                  62
152           6971258                  42
153            254124                  72
154  ZINC000396869768                 145

[155 rows x 2 columns]

In [257]:
qsar2=qsar2.drop(columns=["ECR"])
qsar2=qsar2.rename(columns={'Index': 'Molecule_qsar2','Molecule':'Label_qsar2'})
qsar2

     Molecule_qsar2       Label_qsar2
0                 3         118707521
1                 6          76325328
2                11          54758613
3                 4          91820057
4               139  ZINC000257347638
..              ...               ...
150             134  ZINC000196304985
151             125  ZINC000102863660
152             141  ZINC000307008534
153             127  ZINC000105341667
154             145  ZINC000396869768

[155 rows x 2 columns]

In [258]:
C2_lista = [farma_2c, docking_2c, qsar2]

In [259]:
C2 = pd.concat(C2_lista, axis=1)
C2

,Label_farma2c,Molecule_farma2c,Label_docking2c,Molecule_docking2c,Molecule_qsar2,Label_qsar2
0,76325328,6,118328,80,3,118707521
1,ZINC000307565252,142,52944903,14,6,76325328
2,ZINC000257346903,138,52944904,13,11,54758613
3,44341508,25,76325328,6,4,91820057
4,ZINC000106382957,130,118707521,3,139,ZINC000257347638
...,...,...,...,...,...,...
150,439213,67,96523,84,134,ZINC000196304985
151,ZINC000164373873,133,440552,62,125,ZINC000102863660
152,91820057,4,6971258,42,141,ZINC000307008534
153,433580,69,254124,72,127,ZINC000105341667
154,ZINC000252694384,135,ZINC000396869768,145,145,ZINC000396869768

### ECR

In [260]:
numeros = list(indice.loc[:,"Molecule"].values)

In [261]:
q_2c = list(C2.loc[:, "Molecule_qsar2"].values)
q_2c_ind = [q_2c.index(num)+1 for num in numeros if num in q_2c]

d_2c = list(C2.loc[:, "Molecule_docking2c"].values)
d_2c_ind = [d_2c.index(num)+1 for num in numeros if num in d_2c]

f_2c = list(C2.loc[:, "Molecule_farma2c"].values)
f_2c_ind = [f_2c.index(num)+1 for num in numeros if num in f_2c]

In [262]:
ECR_2C = pd.DataFrame(
    {'q_2c': q_2c_ind,
     'd_2c': d_2c_ind,
     'f_2c': f_2c_ind
    })

In [263]:
ECR_2C

     q_2c  d_2c  f_2c
0       8    94    81
1      38    23    24
2       1     5     8
3       4   118   153
4      47    70    51
..    ...   ...   ...
150   117   109   113
151   102    69   141
152   116    96    65
153    74    64   133
154    92    71    32

[155 rows x 3 columns]

In [264]:
ECR_2C=ECR_2C.apply(lambda x: np.exp(-x/20)/20, axis=1)
ECR_2C["ECR"] = ECR_2C.sum(axis=1)
ECR_2C["Molecule"]=list(range(1, 156))
ECR_2C=ECR_2C.sort_values(by=['ECR'],ascending=False)

In [265]:
ECR_2C

         q_2c      d_2c      f_2c       ECR  Molecule
5    0.045242  0.040937  0.047561  0.133740         6
2    0.047561  0.038940  0.033516  0.120018         3
138  0.038940  0.033516  0.035234  0.107690       139
35   0.035234  0.019337  0.026102  0.080674        36
129  0.008689  0.031881  0.038940  0.079510       130
..        ...       ...       ...       ...       ...
59   0.000065  0.000043  0.000031  0.000139        60
144  0.000022  0.000022  0.000092  0.000135       145
112  0.000028  0.000036  0.000068  0.000131       113
64   0.000053  0.000032  0.000034  0.000119        65
132  0.000029  0.000037  0.000025  0.000091       133

[155 rows x 5 columns]

In [266]:
ECR_2C.to_csv('ECR_2C.csv')

## Importing data (Three variants)

In [267]:
farma_3c=pd.read_csv('farma_3C.csv',sep=',')  
docking_3c=pd.read_csv('dockingecr3C.csv',sep=',')  
qsar3=pd.read_csv('Output_ECR_3_final.csv',sep=',')

In [268]:
farma_3c=farma_3c.drop(columns=["Number", "Index", "Score", "Aromatic", "Hydrophobic", "Donors", "Aceptors", "Negatives"])
farma_3c=farma_3c.rename(columns={'Label': 'Label_farma3c','Molecule':'Molecule_farma3c'})
farma_3c

        Label_farma3c  Molecule_farma3c
0    ZINC000257347639               140
1    ZINC000101136391               121
2    ZINC000307565252               142
3    ZINC000616591357               155
4    ZINC000019893747               108
..                ...               ...
150             18897                93
151  ZINC000105341667               127
152          45933887                20
153  ZINC000307008534               141
154          57376616                 7

[155 rows x 2 columns]

In [269]:
docking_3c=docking_3c.drop(columns=["Unnamed: 0", "ECR", "Molecule_primera", "Molecule_segunda","Molecule_tercera"])
docking_3c=docking_3c.rename(columns={'Label': 'Label_docking3c','Molecule':'Molecule_docking3c'})
docking_3c

      Label_docking3c  Molecule_docking3c
0            52944904                  13
1            76325328                   6
2           118707521                   3
3    ZINC000101361998                 123
4            52944903                  14
..                ...                 ...
150               739                  96
151  ZINC000394934764                 144
152            441477                  60
153  ZINC000383920275                 143
154  ZINC000396869768                 145

[155 rows x 2 columns]

In [270]:
qsar3=qsar3.drop(columns=["ECR"])
qsar3=qsar3.rename(columns={'Index': 'Molecule_qsar3','Molecule':'Label_qsar3'})
qsar3

     Molecule_qsar3       Label_qsar3
0                 3         118707521
1                 6          76325328
2                58            446101
3                 4          91820057
4                63            440271
..              ...               ...
150             115  ZINC000082114392
151             141  ZINC000307008534
152             125  ZINC000102863660
153             127  ZINC000105341667
154             145  ZINC000396869768

[155 rows x 2 columns]

In [271]:
C3_lista = [farma_3c, docking_3c, qsar3]

In [272]:
C3 = pd.concat(C3_lista, axis=1)
C3

,Label_farma3c,Molecule_farma3c,Label_docking3c,Molecule_docking3c,Molecule_qsar3,Label_qsar3
0,ZINC000257347639,140,52944904,13,3,118707521
1,ZINC000101136391,121,76325328,6,6,76325328
2,ZINC000307565252,142,118707521,3,58,446101
3,ZINC000616591357,155,ZINC000101361998,123,4,91820057
4,ZINC000019893747,108,52944903,14,63,440271
...,...,...,...,...,...,...
150,18897,93,739,96,115,ZINC000082114392
151,ZINC000105341667,127,ZINC000394934764,144,141,ZINC000307008534
152,45933887,20,441477,60,125,ZINC000102863660
153,ZINC000307008534,141,ZINC000383920275,143,127,ZINC000105341667
154,57376616,7,ZINC000396869768,145,145,ZINC000396869768

### ECR

In [273]:
q_3c = list(C3.loc[:, "Molecule_qsar3"].values)
q_3c_ind = [q_3c.index(num)+1 for num in numeros if num in q_3c]

d_3c = list(C3.loc[:, "Molecule_docking3c"].values)
d_3c_ind = [d_3c.index(num)+1 for num in numeros if num in d_3c]

f_3c = list(C3.loc[:, "Molecule_farma3c"].values)
f_3c_ind = [f_3c.index(num)+1 for num in numeros if num in f_3c]

In [274]:
ECR_3C = pd.DataFrame(
    {'q_3c': q_3c_ind,
     'd_3c': d_3c_ind,
     'f_3c': f_3c_ind
    })

In [275]:
ECR_3C=ECR_3C.apply(lambda x: np.exp(-x/20)/20, axis=1)
ECR_3C["ECR"] = ECR_3C.sum(axis=1)
ECR_3C["Molecule"]=list(range(1, 156))
ECR_3C=ECR_3C.sort_values(by=['ECR'],ascending=False)

In [276]:
ECR_3C

         q_3c      d_3c      f_3c       ECR  Molecule
5    0.045242  0.045242  0.027441  0.117924         6
2    0.047561  0.043035  0.026102  0.116699         3
139  0.030327  0.024829  0.047561  0.102717       140
138  0.035234  0.023618  0.030327  0.089179       139
120  0.018394  0.021371  0.045242  0.085007       121
..        ...       ...       ...       ...       ...
64   0.000053  0.000097  0.000028  0.000177        65
121  0.000048  0.000050  0.000068  0.000166       122
92   0.000092  0.000031  0.000026  0.000149        93
140  0.000025  0.000036  0.000023  0.000083       141
126  0.000023  0.000028  0.000025  0.000075       127

[155 rows x 5 columns]

In [277]:
ECR_3C.to_csv('ECR_3C.csv')

# N_terminal

## Importing data (Two variants)

In [278]:
farma_2n=pd.read_csv('farma_2N.csv',sep=',')  
docking_2n=pd.read_csv('dockingecr2N.csv',sep=',')

In [279]:
farma_2n=farma_2n.drop(columns=["Number", "Index", "Score", "Aromatic", "Hydrophobic", "Donors", "Aceptors", "Negatives"])
farma_2n=farma_2n.rename(columns={'Label': 'Label_farma2n','Molecule':'Molecule_farma2n'})
farma_2n

        Label_farma2n  Molecule_farma2n
0    ZINC000077269504               114
1             2733787                52
2              118328                80
3    ZINC000257346492               137
4           118707521                 3
..                ...               ...
150          45934204                19
151             90220                85
152  ZINC000101135603               120
153          44229083                26
154            441038                61

[155 rows x 2 columns]

In [280]:
docking_2n=docking_2n.drop(columns=["Unnamed: 0", "ECR", "Molecule_par", "Molecule_impar"])
docking_2n=docking_2n.rename(columns={'Label': 'Label_docking2n','Molecule':'Molecule_docking2n'})
docking_2n

      Label_docking2n  Molecule_docking2n
0            52944903                  14
1            52948856                  12
2           118707521                   3
3               29327                  90
4              118328                  80
..                ...                 ...
150  ZINC000082114392                 115
151            254124                  72
152  ZINC000383920275                 143
153  ZINC000394934764                 144
154            448882                  56

[155 rows x 2 columns]

In [281]:
N2_lista = [farma_2n, docking_2n, qsar2]

In [282]:
N2 = pd.concat(N2_lista, axis=1)
N2

,Label_farma2n,Molecule_farma2n,Label_docking2n,Molecule_docking2n,Molecule_qsar2,Label_qsar2
0,ZINC000077269504,114,52944903,14,3,118707521
1,2733787,52,52948856,12,6,76325328
2,118328,80,118707521,3,11,54758613
3,ZINC000257346492,137,29327,90,4,91820057
4,118707521,3,118328,80,139,ZINC000257347638
...,...,...,...,...,...,...
150,45934204,19,ZINC000082114392,115,134,ZINC000196304985
151,90220,85,254124,72,125,ZINC000102863660
152,ZINC000101135603,120,ZINC000383920275,143,141,ZINC000307008534
153,44229083,26,ZINC000394934764,144,127,ZINC000105341667
154,441038,61,448882,56,145,ZINC000396869768

### ECR

In [283]:
q_2n = list(N2.loc[:, "Molecule_qsar2"].values)
q_2n_ind = [q_2n.index(num)+1 for num in numeros if num in q_2n]

d_2n = list(N2.loc[:, "Molecule_docking2n"].values)
d_2n_ind = [d_2n.index(num)+1 for num in numeros if num in d_2n]

f_2n = list(N2.loc[:, "Molecule_farma2n"].values)
f_2n_ind = [f_2n.index(num)+1 for num in numeros if num in f_2n]

In [284]:
ECR_2N = pd.DataFrame(
    {'q_2n': q_2n_ind,
     'd_2n': d_2n_ind,
     'f_2n': f_2n_ind
    })

In [285]:
ECR_2N=ECR_2N.apply(lambda x: np.exp(-x/20)/20, axis=1)
ECR_2N["ECR"] = ECR_2N.sum(axis=1)
ECR_2N["Molecule"]=list(range(1, 156))
ECR_2N=ECR_2N.sort_values(by=['ECR'],ascending=False)
ECR_2N

         q_2n      d_2n      f_2n       ECR  Molecule
2    0.047561  0.043035  0.038940  0.129537         3
5    0.045242  0.037041  0.037041  0.119324         6
138  0.038940  0.022466  0.026102  0.087509       139
79   0.000528  0.038940  0.043035  0.082504        80
51   0.001300  0.031881  0.045242  0.078423        52
..        ...       ...       ...       ...       ...
121  0.000043  0.000037  0.000237  0.000318       122
112  0.000028  0.000032  0.000250  0.000309       113
83   0.000039  0.000087  0.000101  0.000228        84
144  0.000022  0.000053  0.000130  0.000205       145
149  0.000059  0.000068  0.000032  0.000159       150

[155 rows x 5 columns]

In [286]:
ECR_2N.to_csv('ECR_2N.csv')

## Importing data (Three variants)

In [287]:
farma_3n=pd.read_csv('farma_3N.csv',sep=',')  
docking_3n=pd.read_csv('dockingecr3N.csv',sep=',')

In [288]:
farma_3n=farma_3n.drop(columns=["Number", "Index", "Score", "Aromatic", "Hydrophobic", "Donors", "Aceptors", "Negatives"])
farma_3n=farma_3n.rename(columns={'Label': 'Label_farma3n','Molecule':'Molecule_farma3n'})
farma_3n

        Label_farma3n  Molecule_farma3n
0             2733787                52
1    ZINC000077269504               114
2    ZINC000257346492               137
3            76325328                 6
4              118328                80
..                ...               ...
150            198515                74
151          45934204                19
152  ZINC000616591357               155
153            439281                66
154            440271                63

[155 rows x 2 columns]

In [289]:
docking_3n=docking_3n.drop(columns=["Unnamed: 0", "ECR", "Molecule_primera", "Molecule_segunda","Molecule_tercera"])
docking_3n=docking_3n.rename(columns={'Label': 'Label_docking3n','Molecule':'Molecule_docking3n'})
docking_3n

      Label_docking3n  Molecule_docking3n
0            52944904                  13
1            76325328                   6
2             2733787                  52
3           118707521                   3
4              118328                  80
..                ...                 ...
150  ZINC000383920275                 143
151  ZINC000394934764                 144
152  ZINC000082114392                 115
153            448882                  56
154  ZINC000396869768                 145

[155 rows x 2 columns]

In [290]:
N3_lista = [farma_3n, docking_3n, qsar3]

In [291]:
N3 = pd.concat(N3_lista, axis=1)
N3

,Label_farma3n,Molecule_farma3n,Label_docking3n,Molecule_docking3n,Molecule_qsar3,Label_qsar3
0,2733787,52,52944904,13,3,118707521
1,ZINC000077269504,114,76325328,6,6,76325328
2,ZINC000257346492,137,2733787,52,58,446101
3,76325328,6,118707521,3,4,91820057
4,118328,80,118328,80,63,440271
...,...,...,...,...,...,...
150,198515,74,ZINC000383920275,143,115,ZINC000082114392
151,45934204,19,ZINC000394934764,144,141,ZINC000307008534
152,ZINC000616591357,155,ZINC000082114392,115,125,ZINC000102863660
153,439281,66,448882,56,127,ZINC000105341667
154,440271,63,ZINC000396869768,145,145,ZINC000396869768

### ECR

In [292]:
q_3n = list(N3.loc[:, "Molecule_qsar3"].values)
q_3n_ind = [q_3n.index(num)+1 for num in numeros if num in q_3n]

d_3n = list(N3.loc[:, "Molecule_docking3n"].values)
d_3n_ind = [d_3n.index(num)+1 for num in numeros if num in d_3n]

f_3n = list(N3.loc[:, "Molecule_farma3n"].values)
f_3n_ind = [f_3n.index(num)+1 for num in numeros if num in f_3n]

In [293]:
ECR_3N = pd.DataFrame(
    {'q_3n': q_3n_ind,
     'd_3n': d_3n_ind,
     'f_3n': f_3n_ind
    })

In [294]:
ECR_3N=ECR_3N.apply(lambda x: np.exp(-x/20)/20, axis=1)
ECR_3N["ECR"] = ECR_3N.sum(axis=1)
ECR_3N["Molecule"]=list(range(1, 156))
ECR_3N=ECR_3N.sort_values(by=['ECR'],ascending=False)

In [295]:
ECR_3N

         q_3n      d_3n      f_3n       ECR  Molecule
5    0.045242  0.045242  0.040937  0.131420         6
2    0.047561  0.040937  0.035234  0.123732         3
51   0.001669  0.043035  0.047561  0.092266        52
79   0.002252  0.038940  0.038940  0.080133        80
12   0.003714  0.047561  0.024829  0.076104        13
..        ...       ...       ...       ...       ...
148  0.000112  0.000068  0.000037  0.000217       149
112  0.000029  0.000036  0.000124  0.000189       113
121  0.000048  0.000048  0.000072  0.000167       122
65   0.000059  0.000043  0.000023  0.000125        66
124  0.000024  0.000053  0.000039  0.000116       125

[155 rows x 5 columns]

In [296]:
ECR_3N.to_csv('ECR_3N.csv')