## Parsing Output CSV rDock

In [7]:
##Importing packages

import pandas as pd
import numpy as np

In [8]:
##Reading file

df = pd.read_csv('data.csv', sep=' ')
df

              _TITLE1   TOTAL   INTER  INTRA  RESTR     VDW
0           134695375 -18.736 -21.317 -1.115  0.000 -14.403
1           129878031 -22.065 -18.547 -5.262  0.008 -16.463
2           127048546 -24.838 -20.301 -6.270  0.000 -20.554
3           127048545 -22.385 -23.312 -2.903  0.000 -23.704
4           118707521 -26.546 -25.629 -2.791  0.000 -24.814
..                ...     ...     ...    ...    ...     ...
155  ZINC000616583702 -12.062 -12.995 -2.961  0.000 -17.017
156  ZINC000616583781 -16.136 -17.602 -2.860  0.258 -18.395
157  ZINC000616588668 -16.369 -13.959 -4.884  0.000 -14.868
158  ZINC000616589990 -18.604 -19.035 -1.496  0.191 -14.202
159  ZINC000616591357 -15.334 -16.730 -0.361  0.000 -17.462

[160 rows x 6 columns]

In [9]:
df_final=df.sort_values(by='TOTAL')

In [10]:
df_final.TOTAL.unique()

array([-29.532, -27.316, -26.546, -26.293, -25.034, -24.838, -24.642,
       -24.448, -24.159, -24.131, -24.045, -23.554, -23.514, -22.841,
       -22.559, -22.385, -22.38 , -22.251, -22.146, -22.065, -21.707,
       -21.661, -21.621, -21.541, -21.514, -21.422, -21.284, -21.273,
       -21.266, -21.262, -21.197, -21.191, -20.896, -20.878, -20.874,
       -20.848, -20.831, -20.819, -20.788, -20.778, -20.551, -20.521,
       -20.499, -20.494, -20.25 , -20.223, -20.04 , -19.938, -19.846,
       -19.843, -19.609, -19.493, -19.283, -19.272, -19.21 , -19.082,
       -19.053, -18.996, -18.971, -18.97 , -18.799, -18.79 , -18.74 ,
       -18.736, -18.731, -18.669, -18.668, -18.604, -18.537, -18.5  ,
       -18.356, -18.355, -18.293, -18.278, -18.25 , -18.246, -18.223,
       -18.103, -18.088, -18.087, -18.067, -18.053, -18.035, -18.029,
       -18.013, -18.   , -17.997, -17.975, -17.876, -17.793, -17.758,
       -17.733, -17.725, -17.688, -17.564, -17.496, -17.484, -17.471,
       -17.424, -17.386, -17.343, -17.342, -17.335, -17.255, -17.231,
       -17.216, -17.16 , -17.155, -17.153, -17.146, -17.136, -16.993,
       -16.982, -16.941, -16.899, -16.854, -16.853, -16.837, -16.784,
       -16.586, -16.451, -16.369, -16.361, -16.343, -16.332, -16.274,
       -16.25 , -16.136, -16.104, -16.025, -15.888, -15.745, -15.634,
       -15.595, -15.47 , -15.334, -15.16 , -15.101, -14.715, -14.296,
       -14.245, -14.108, -14.044, -13.928, -13.835, -13.764, -13.632,
       -13.49 , -12.577, -12.062, -11.155,  -9.352,  -9.181,  -8.821,
        -7.891,  -7.799,  -7.633,  -7.529,  -6.878,  -4.722])

In [11]:
df_final

      _TITLE1   TOTAL   INTER  INTRA  RESTR     VDW
50    5317448 -29.532 -26.836 -5.093  0.000 -13.717
58     449462 -27.316 -23.489 -6.348  0.000 -13.756
4   118707521 -26.546 -25.629 -2.791  0.000 -24.814
16   52944904 -26.293 -21.447 -8.757  0.000 -26.666
94      24154 -25.034 -23.209 -3.613  0.001 -14.288
..        ...     ...     ...    ...    ...     ...
74     312829  -7.799  -7.048 -2.569  0.000 -15.948
80     129618  -7.633  -6.836 -2.608  0.003 -21.977
53    3052142  -7.529  -5.617 -4.151  0.000 -19.087
86      99461  -6.878  -8.768  0.075  0.011 -19.050
77     198515  -4.722  -6.891 -0.257  0.000 -14.143

[160 rows x 6 columns]

In [12]:
df_final.to_csv('3_rdock.csv')