## Parsing Output CSV rDock

In [1]:
##Importing packages

import pandas as pd
import numpy as np

In [3]:
##Reading file

df = pd.read_csv('data.csv', sep=' ')
df

              _TITLE1   TOTAL   INTER  INTRA  RESTR     VDW
0           134695375 -19.074 -19.657 -1.811  0.000 -10.964
1           129878031 -25.216 -24.329 -2.630  0.000 -15.029
2           127048546 -21.237 -21.384 -1.735  0.060 -20.004
3           127048545 -23.711 -22.288 -3.811  0.000 -18.477
4           118707521 -19.803 -17.417 -4.121  0.002 -25.125
..                ...     ...     ...    ...    ...     ...
155  ZINC000616583702 -15.613 -13.813 -3.591  0.000 -15.147
156  ZINC000616583781 -16.105 -15.015 -3.143  0.301 -17.182
157  ZINC000616588668 -16.405 -17.151 -1.014  0.000 -13.747
158  ZINC000616589990 -22.851 -19.868 -4.894  0.159 -13.501
159  ZINC000616591357 -14.419 -16.335 -0.664  0.183 -20.263

[160 rows x 6 columns]

In [4]:
df_final=df.sort_values(by='TOTAL')

In [5]:
df_final.TOTAL.unique()

array([-25.617, -25.216, -24.53 , -24.509, -24.498, -23.99 , -23.711,
       -23.266, -23.216, -23.02 , -22.851, -22.795, -22.733, -22.697,
       -22.61 , -22.247, -21.879, -21.375, -21.237, -21.171, -21.114,
       -21.02 , -20.981, -20.596, -20.575, -20.525, -20.268, -20.255,
       -20.219, -20.212, -20.087, -20.05 , -20.024, -19.925, -19.878,
       -19.858, -19.803, -19.672, -19.532, -19.501, -19.362, -19.21 ,
       -19.205, -19.192, -19.187, -19.183, -19.137, -19.128, -19.098,
       -19.074, -19.027, -19.021, -19.019, -19.005, -18.791, -18.766,
       -18.682, -18.681, -18.669, -18.665, -18.657, -18.625, -18.569,
       -18.555, -18.512, -18.441, -18.211, -18.163, -18.158, -18.138,
       -18.114, -18.083, -18.037, -18.016, -17.979, -17.97 , -17.879,
       -17.845, -17.825, -17.663, -17.498, -17.483, -17.271, -17.27 ,
       -17.2  , -17.113, -17.084, -16.989, -16.968, -16.956, -16.947,
       -16.849, -16.771, -16.758, -16.742, -16.711, -16.689, -16.671,
       -16.619, -16.6  , -16.576, -16.508, -16.505, -16.497, -16.405,
       -16.26 , -16.256, -16.182, -16.163, -16.111, -16.105, -16.081,
       -16.047, -16.015, -16.008, -15.991, -15.952, -15.903, -15.887,
       -15.819, -15.788, -15.741, -15.671, -15.652, -15.626, -15.613,
       -15.596, -15.575, -15.543, -15.519, -15.352, -15.302, -15.255,
       -15.164, -15.115, -14.922, -14.807, -14.632, -14.595, -14.441,
       -14.419, -14.406, -14.298, -13.859, -13.69 , -13.506, -13.283,
       -13.091, -12.65 , -12.444, -11.785,  -9.094,  -8.3  ,  -7.979,
        -7.474,  -6.94 ,  -6.899,  -6.624,  -4.344])

In [6]:
df_final

      _TITLE1   TOTAL   INTER   INTRA  RESTR     VDW
58     449462 -25.617 -27.469  -2.036  0.000 -14.335
1   129878031 -25.216 -24.329  -2.630  0.000 -15.029
39   12600646 -24.530 -22.775  -4.152  0.000 -16.018
19   49859685 -24.509 -16.559 -11.804  0.000 -16.812
83     118328 -24.498 -21.334  -5.010  0.107 -21.845
..        ...     ...     ...     ...    ...     ...
80     129618  -7.474  -7.037  -3.374  0.523 -17.364
77     198515  -6.940  -7.699  -1.017  0.000 -20.261
74     312829  -6.899 -11.124   1.622  0.000 -18.459
86      99461  -6.624  -6.357  -2.134  0.000 -16.967
73     408523  -4.344  -6.522  -1.715  0.000 -15.302

[160 rows x 6 columns]

In [7]:
df_final.to_csv('2_rdock.csv')